@using SkincareGuide.Common
@model SkincareGuide.Web.ViewModels.Home.IndexViewModel

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p> We have:</p>
    <ul class="list-group">
        <li class="list-group-item">@Model.BrandCount brands in our site</li>
        <li class="list-group-item">@Model.ProductsCount - products</li>
        <li class="list-group-item">@Model.IngredientsCount ingredients are explaned!</li>
 
    </ul>
</div>
