@model SkincareGuide.Web.ViewModels.Products.CreateProductInputModel

<h1 class="text-primary">Product Upload</h1>

<form method='post' enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">

        <div class="form-group">
            <label asp-for="Image" class="text-primary">Image</label><br>
            <input asp-for="Image" class="btn btn-primary btn-block">
            @*<input asp-for="Image" class="form-control bg-primary">*@
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <br />

       <p class="text-primary"> OR </p>
        
        <br />
        
        <input asp-for="ImageUrl" class="form-control" id="url"/>
      <a href ="#" class="btn btn-primary btn-block" onclick="">Save Image by URL</a>


        <br />


        <label asp-for="Brand" class="text-primary">Brand</label><br>
        <input asp-for="Brand" class="form-control" />
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">

        <label asp-for="Name" class="text-primary">Name</label><br>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">

        <label asp-for="Description" class="text-primary">Description</label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">

        <label asp-for="Ingredients" class="text-primary">I have the ingredient list in text form and can copy-paste it:</label>
        <textarea asp-for="Ingredients" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Ingredients" class="text-danger"></span>
    </div>

    <div class="form-group">

        <input type="submit" class="btn btn-primary" />
    </div>


</form>