@using SkincareGuide.Common



<div class="p-3 mb-2 bg-info text-white">
         This product is not approved by our admins yet. Until approval, it is visible only via direct link and you can edit it by clicking on the pencil icons on the page.
    <img class="card-img-top" src="~/images/pngtree-package-pending-icon-for-your-project-png-image_4853195.jpg" />

</div>


